@{
}

<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
    <div class="sidebar-brand d-md-flex" style="font-size:20px">
        <i class="fas fa-shopping-cart me-2"></i>EBuy
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-users ms-2 me-3"></i> Businesses
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-users ms-2 me-3"></i> Categories
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-users ms-2 me-3"></i> Products
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-users ms-2 me-3"></i> Product Properties
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-users ms-2 me-3"></i> Product Property Types
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-users ms-2 me-3"></i> Users
            </a>
        </li>
    </ul>
</div>