<!DOCTYPE html><!--
* CoreUI - Free Bootstrap Admin Template
* @@version v4.2.2
* @@link https://coreui.io/product/free-bootstrap-admin-template/
* Copyright (c) 2023 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/main/LICENSE)
--><!-- Breadcrumb-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CoreUI Free Bootstrap Admin Template</title>

    <link rel="manifest" href="vendors\coreui\dist\assets\favicon\manifest.json">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="vendors\coreui\dist\vendors\simplebar\css\simplebar.css">
    <!-- Main styles for this application-->
    <link href="vendors\coreui\dist\css\style.css" rel="stylesheet">
    <link href="css\admin.css" rel="stylesheet">

    <!-- Page Specific css here-->
    @RenderSection("styles")
    <!-- Page Specific css here-->

</head>

<body>

    SIDEBAR HERE

    <div class="wrapper min-vh-100 ">
        HEADER HERE

        BREADCRUMB HERE

        MAIN HERE

    </div>

    <script src="vendors/coreui/dist/vendors/@@coreui/coreui\js/coreui.bundle.min.js"></script>
    <script src="vendors/coreui/dist/vendors/simplebar/js/simplebar.min.js"></script>
    <script src="vendors/fontawesome/js/all.min.js"></script>

    <!-- Page Specific js here-->
    @RenderSection("scripts")
    <!-- Page Specific js here-->
</body>

</html>









































@* <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - EBuy.Admin</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/EBuy.Admin.styles.css" asp-append-version="true" />
</head>
<body>
<header>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
<div class="container-fluid">
<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EBuy.Admin</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
aria-controls="navbarSupportedContent"
aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
<ul class="navbar-nav flex-grow-1">
<li class="nav-item">
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</li>
<li class="nav-item">
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</li>
</ul>
</div>
</div>
</nav>
</header>
<div class="container">
<main role="main" class="pb-3">
@RenderBody()
</main>
</div>

<footer class="border-top footer text-muted">
<div class="container">
&copy; 2023 - EBuy.Admin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html> *@
